
@{
    ViewBag.Title = "Admin";
}

@*if(username and pass are valid and own to admin) then*@

<style>
    .list-group-item-action {
        border-color: #18BC9C; /*success*/
        font-size:120%;
    }
</style>

<div align="center" style="margin-top:3%;">
    <h2><b>Admin options</b></h2>
    <div class="list-group" style="width: 30rem; margin-top:4%; margin-bottom: 9%;">
        <div class="card mb-3">
            <a href="#" class="list-group-item list-group-item-action text-white bg-success">
                List of entrances
            </a>
        </div>
        <div class="card border-success mb-3">
            <a href="#" class="list-group-item list-group-item-action text-white bg-success">
                Add and edit tenants
            </a>
        </div>
        <div class="card border-success mb-3">
            <a href="#" class="list-group-item list-group-item-action text-white bg-success">
                Change code
            </a>
        </div>
    </div>
</div>