
@{
    ViewBag.Title = "Main";
}


<style>
    button {
        width: 40%;
        height: 70px;
        table-layout:fixed;
        display: block;
        margin: 0 auto;
        margin-top: 10%;
        text-align: center;

    }
    #login {
        margin-bottom: 10%;
    }
</style>
<div align="center">
    <button type="button" class="btn btn-info btn-lg" onclick="window.location.href='@Url.Action("Entrance")';">Entrance </button>
    <br />
    <button id="login" type="button" class="btn btn-info btn-lg" onclick="window.location.href='@Url.Action("Login")';">Login</button>
</div>

<script>
    function onClickEntrance()
    {
        
    }
</script>

